<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-4">
            <div class="col-5 offset-3">     <!-- 5 ki utti jagah leta 3 ki utti jagah chodke -->
              <h3><b> <%= ans.title %></b></h3>  
            </div>

            <!-- Bootstrap Card -->
            <div class="listing-card col-6 offset-3" style="width: 28rem;">
                <img src="<%= ans.image %>" class="card-img-top show-photo" alt="An IMAGE IS HERE">
                <div class="card-body">
                    <p class="card-text">
                        <%= ans.description %> <br>
                        <%= ans.price%> <br>
                        <%= ans.location %> <br>
                        <%= ans.country%>
                    </p>
                </div>
            </div>

          <div class="btns mb-3">    
            <a 
            href="/listings/<%= ans.id %>/edit" 
            class="btn btn-dark offset-3 submit-btn">Edit</a>

            <form method="POST" action="/listings/<%= ans.id %>?_method=DELETE">
                <button class="btn btn-dark offset-5">Delete Listing</button>
            </form> 
        </div>


        <div class="card col-6 offset-3 mb-3 mt-3">
            <h4><b>Leave a Review</b></h4>    <!-- ye needs validation ki logic wahan  boilerplate.ejs mei nichce dekho --public mei JS mei haio -->
            <form action="/listings/<%= ans.id %>/reviews" method="POST"  class="needs-validation" novalidate   
                    <label for="rating" class="form-label">Rating</label>
                    <input name="review[rating]" type="range" min="1" max="5" id="rating" class="form-range" >

                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" class="form-control" id="comment" cols="20" rows="5" required></textarea>
                    <div class="invalid-feedback">Please add some Comments for Review</div>
                </div>
                
            <button class="btn btn-dark btns ">Submit</button>
            </form>

        </div>


        <div class=" col-6 offset-3  mb-3">
            <h4><b>All Reviews </b></h4>
            <% for(i of ans.review ) { %>    <!-- this review from the schema of listing (listing.js)  (here ans means listing)-->
                <div class="card col-6  mb-2">
                  <div class="card-body">
                      <h4 class="card-title">John Foe</h4>
                      <p class="card-text"> <%= i.comment %> </p>   <!-- this comment and rating above used -->
                      <p class="card-text"> <%= i.rating %> Stars</p>
                      <form class="mb-1" method="POST" action="/listings/<%= ans.id %>/reviews/<%= i.id %>?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>
                      </form>
                  </div>
                </div>
            <% } %>
            </div>
        </div>
    </body>






    
